.gameView, .panel{
  background-color: #222260;
}

.panel{
  height: 45vw;
  width: 20vw;
}

.gameView{
  width: 45vw;
  height: 45vw;
  margin: auto;
  overflow: hidden;
  position: relative;
}

.gameView>.field{
  width: 100%;
  height: 100%;
  border: 1px black solid;
  position: absolute;
  display: flex;
  flex-direction: column;
}

.row{
  display: flex;
  height: 100px;
}

.row>.tile{
  max-width: 100px;
  max-height: 100px;
  width: 100%;
  height: 100%;
  display: block;
  box-shadow: inset yellow 0px 0px 5px 0px;
}

.row>.tile:hover{
  box-shadow: inset #66FF66 0px 0px 10px 0px;
}

html{
  background-color: #111130;
}

body{
  display: flex;
}